@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../fonts/fonts.scss";

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

a {
  @apply text-primary hover:text-primaryLight visited:text-primary
}

a.menu-item {
  @apply text-white hover:text-white visited:text-white
}

.anes-shadow-1 {
  box-shadow: 0px 0px 20px 0px rgba(1, 16, 39, 0.1);
}

.anes-shadow-2 {
  box-shadow: 0px 2px 14px 0px #00000024;
}

.anes-btn {
  @apply hover:bg-primaryLight border-solid bg-white border border-primaryLight hover:text-white text-primaryLight font-bold py-4 px-8 text-base rounded-full
}

.anes-btn-primary {
  @extend .anes-btn;
  @apply bg-primary text-white py-3
}

.anes-input {
  @apply border border-borderGrey text-primary text-sm rounded-[4px] focus:ring-primary focus:border-primaryLight block w-full p-2.5
}

.anes-label {
  @apply block cursor-pointer mb-2 text-sm font-medium text-primary
}