.home__job-section {

  &:hover {
    @apply bg-primary;
    cursor: pointer;
    transition: background-color .5s;

    .home__job-section-title,
    .home__job-section-jobs {
      color: white;
      transition: color .5s;
    }
  }
}